---
title: Galeria
layout: page
permalink: /galeria/
pagination:
    enabled: true
    collection: galeria
---

<div class="box alt">
    <div id="masonry-grid" class="row uniform 50%">
        {% for item in paginator.posts %}
            <div class="4u 12u$(xsmall)">
                <span class="image fit">
                    <a href="{{ item.image }}" data-caption="{{ item.title }}" data-lightbox="{{ page.title | downcase }}">
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </a>
                </span>
            </div>
        {% endfor %}

        <br>
        {% include pagination.html %}
    </div>
</div>