<aside id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <a href="/" class="brand-logo hide-on-large-only">{% include nav/ProImagemLogo.svg %}</a>

    <div class="divider"></div>
        
    <ul>
        {% for item in site.data.nav %}
            <li>
                <a href="{{ item.url }}" title="{{ item.title }}" class="waves-effect waves-primary" onclick="closeNav()">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</aside>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>