<div id="contactos" class="modal">
    <div class="modal-content container">
        <div class="row">
            <form name="Contactos" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="full_name" name="Nome Completo" type="text" class="validate">
                        <label for="full_name">Nome Completo</label>
                    </div>
                </div>
        
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="Email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>                
        
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="Assunto" length="100"></textarea>
                        <label for="textarea1">Assunto</label>
                    </div>
                </div>
        
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" name="Mensagem" length="500"></textarea>
                        <label for="textarea2">Mensagem</label>
                    </div>
                </div>
                <div class="center">
                    <button type="submit" class="btn waves-effect waves-light">Envie</button>
                </div>
            </form>
        </div>

        <div class="row">
            {% include social.html %}
        </div>
    </div>
</div>