<div class="row">
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="full_name" name="fullname" type="text" class="validate">
                <label for="full_name">Nome Completo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>                

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="textarea" length="500"></textarea>
                <label for="textarea1">Mensagem</label>
            </div>
        </div>
        <div class="center">
            <button type="submit" class="btn waves-effect waves-light">Envie</button>
        </div>
    </form>
</div>