<section id="equipamentos" class="section scrollspy center primary-color-light">
    <section class="container">
        <h4 class="bolder white-text">
            <i class="fas fa-cogs"></i> EQUIPAMENTOS
        </h4>
        <section class="row slick">
            {% for item in site.equipamentos limit: 4 %}
                <div>
                    <div class="card medium hoverable">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        </div>
                        <div class="card-content">
                            <div class="card-title primary-color-text bolder">
                                {{ item.title }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
</section>