<footer class="page-footer white-text grey darken-4">
    <div class="container">
        <div class="section-grid">
            <div>
                <h6 class="text-title">Redes Sociais</h6>
                <hr>
                <ul class="inline-list">
                    {% include social.html %}
                </ul>
            </div>

            <div>
                <h6 class="text-title">Links Rápidos</h6>
                <hr>

                <ul>
                    {% for item in site.data.nav %}
                        <li>
                            <a href="{{ item.url }}" title="{{ item.title }}" class="white-text">
                                <i class="fas fa-caret-right secondary-color-text"></i> {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h6 class="text-title">Serviços</h6>
                <hr>

                <ul>
                    {% for item in site.servicos %}
                        <li>
                            <a href="#servicos{{ item.title }}" title="{{ item.title }}" class="modal-trigger white-text">
                                <i class="fas fa-caret-right secondary-color-text"></i> {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% for item in site.servicos %}
                    <div id="servicos{{ item.title }}" class="modal">
                        <div class="modal-content">
                            <div class="container">
                                <h6 class="text-title primary-color-text">{{ item.title }}</h6>

                                <article class="light grey-text text-darken-4">
                                    {{ item.content }}
                                </article>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container section-grid center">
            <span>&copy; {{ site.time | date: "%Y" }} Todos Direitos Reservados a {{ site.title }}</span>

            <span>Designed by <a href="http://izitech.co" target="_blank" title="IZITech" rel="noopener noreferrer author" class="white-text">IZITech</a></span>
        </div>
    </div>
</footer>