<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <h5>Localização</h5>
                Bairro Matundo, EN7 <br>
                Tete, Moçambique
            </div>

            <div class="col s12 l4">
                <h5>Contactos</h5>
                Cel: <a href="tel:+258 84 527 4702" class="white-text" title="Celular">+258 84 527 4702
                <a> <br>
                Email: <a href="mailto:{{ site.email }}" class="white-text" title="Email">{{ site.email }}</a>
            </div>

            <div class="col s12 l4">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            &copy; {{ site.time | date: "%Y" }} {{ site.title }} - {{ site.description }}. Todos Direitos Reservados | Powered by <a href="https://izitag.github.io" title="IZItag">IZItag</a>
        </div>
    </div>
</footer>
