<section id="galeria" class="section scrollspy center">
    <section class="container">
        <section id="masonry-grid" class="row">
            {% for item in site.galeria limit: 4 %}
                <div class="col s6 l4">
                    <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                </div>
            {% endfor %}
        </section>
        <div class="row">
            <a href="/galeria/" title="Galeria" class="btn-large waves-effect waves-light">Veja Mais</a>
        </div>
    </section>
</section>

<section id="galeria-parallax"></section>

<style>
    #galeria-parallax {
        height: 50vh;
        background-image: url(/assets/img/parallax/DSC07612.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>