<header class="grey lighten-4 page-header">
    <div class="section-grid">
        <article class="container">
            <h1>Somos a <strong class="primary-color-text bolder">{{ site.title }}</strong></h1>
            <h4><b class="bold">{{ site.time | date: "%Y" | minus: 2009 }}</b> anos oferecendo <br> <strong class="primary-color-text bolder">{{ site.description }}</strong></h4>

            <a href="#sobre" class="modal-trigger waves-effect waves-light btn-large">Conheça-nos</a>

            <a href="#contactos" class="btn-large waves-effect waves-light">Conhecte-nos</a>
        </article>

        <img src="/assets/img/headerAssets.svg" alt="">
    </div>
</header>

<div id="sobre" class="modal">
    <div class="container modal-content">
        <h5 class="primary-color-text">Sobre a <strong class="bold">{{ site.title }}</strong></h5>

        {% for item in site.sobre limit: 1 %}
            <article class="light text-justified">
                {{ item.content }}
            </article>
        {% endfor %}
    </div>
</div>