<header class="white-text">
    {% include nav/navbar.html %}
    <br><br><br>
    <div class="center container">
        
        {% unless page.layout == "page" %}
            <article class="justify bolder">
                <h1 class="bolder hide-on-med-and-down">{{ site.title }}</h1>

                {% for item in site.sobre limit: 1 %}
                    {{ item.content }}
                {% endfor %}
            </article>

            <section class="section-grid section">
                {% for item in site.sobre offset: 1 limit: 3 %}
                    <div class="card-panel hoverable center">
                        <a href="#{{ forloop.index }}" title="{{ item.title }}" class="modal-trigger primary-color-text">
                            <span class="fas fa-2x fa-{{ item.icon }}"></span>
                            <h6 class="bolder primary-color-text">{{ item.title }}<h6>
                        </a>
                    </div>
                {% endfor %}
            </section>
        {% endunless %}

        {% if page.layout == "page" %}
            <h3 class="bolder white-text">{{ page.title }}</h3>
        {% endif %}

        <a href="#contactos" class="btn-large modal-trigger waves-effect waves-light" title="Contactos">Contacte-nos</a>
    </div>
    <br><br><br>
</header>

{% include home-page/sobreModal.html %}