<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo" title="{{ site.title }}">
                    <img src="/assets/img/logotype-white.png" alt="{{ site.title }}">
                </a>
                <a data-target="sideNav" class="sidenav-trigger">
                    <i class="fas fa-2x fa-bars"></i>
                </a>

                <ul class="right hide-on-med-and-down">
                    {% include nav.html %}
                </ul>
            </div>
        </div>
    </nav>
</div>

{% include contactos.html %}