<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo left" title="{{ site.title }}">{{ site.title }}</a>
                <a data-target="sideNav" class="sidenav-trigger right">
                    <i class="fas fa-2x fa-bars"></i>
                </a>

                <ul class="right hide-on-med-and-down">
                    {% include nav.html %}
                </ul>
            </div>
        </div>
    </nav>
</div>