<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<script
    defer
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script defer src="/assets/js/masonry.pkgd.min.js"></script>
<script defer src="/assets/js/main.js"></script>

{% if page.title == "Galeria" %}
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <script defer src="/assets/js/lightbox.min.js"></script>
{% endif %}

{% unless page.layout == "page" %}
    <!-- netlify widget -->
    <script type="text/javascript" defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endunless %}