<section id="servicos" class="section scrollspy primary-color-light">
    <div class="container center">
        <h3 class="white-text">
            <i class="fas fa-tasks"></i> <br> Serviços
        </h3>

        <div class="row">
            {% for item in site.servicos %}
                <div class="col s12 l4">
                    <div class="card medium hoverable">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                            <span class="card-title secondary-color white-text">{{ item.title }}</span>
                        </div>

                        <div class="card-content">
                            <p class="justify">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="servicos-parallax"></section>

<style>
    #servicos-parallax {
        height: 50vh;
        background-image: url(/assets/img/parallax/DSC08125.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>