<section id="servicos" class="section scrollspy">
    <div class="container">
        <h4 class="bolder center-align white-text">
            <i class="fas fa-briefcase"></i> SERVIÇOS
        </h4>

        <div class="row">
            {% for item in site.servicos %}
                <div class="col s12 l4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                            <span class="card-title white-text" style="background-color: rgba(135, 222, 45, .5);">{{ item.title }}</span>
                            <a class="btn-floating activator waves-effect waves-circle waves-light halfway-fab tooltipped" data-position="top" data-tooltip="Leia Mais">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4 center-align">{{ item.title }}<i class="fas fa-times right"></i></span>
                            <div class="justify">
                                {{ item.content }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>