<section id="sobre" class="section scrollspy primary-color-text grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col 12 l6">
                <img src="/assets/img/uploads/sobre.png" alt="Sobre">
            </div>
            <div class="col s12 l6">
                {% for item in site.sobre limit: 1 %}
                    <h4 class="center-align bolder"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</h4>

                    <div class="justify">
                        {{ item.content }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="row">
            {% for item in site.sobre offset: 1 %}
                <div class="col s12 l4">
                    <p class="bolder center-align"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</p>

                    <div class="justify">
                        {{ item.content }}
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</section>

<style>
    #sobre-parallax {
        height: 50vh;
        background-image: url(/assets/img/parallax/DSC07598.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>