<section id="sobre" class="section scrollspy center primary-color-text">
    <div class="container">
        <h3>
            <i class="fas fa-info-circle"></i> <br>
            Sobre
        </h3>

        <p>A sua Image é a Nossa <strong>Prioridade</strong></p>
        
        <hr class="divider">
        <div class="row">
            {% for item in site.sobre %}
                <div class="col s12 l4 hoverable">
                    <h4>
                        <i class="fas fa-{{ item.icon }}"></i> <br>
                        {{ item.title }}
                    </h4>
                    <p class="justify">{{ item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="sobre-parallax"></section>

<style>
    #sobre-parallax {
        height: 50vh;
        background-image: url(/assets/img/parallax/DSC07598.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>