@charset "UTF-8";

@import
    "base",
    "animate-bottom",
    "materialize/materialize"
;

.primary-color {
    background: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.secondary-color {
    background: $secondary-color;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba($color: $primary-color, $alpha: .65)
}

.bolder {
    font-weight: bolder;
}