<section id="equipamentos" class="section scrollspy white primary-color-text">
    <div class="container">
        <h4 class="center-align bolder">Equipamentos</h4>

        <div class="row">
            <article class="col s12 l6 center-on-small-only">
                <p class="light">Temos um vasto leque de equipamentos de impressão da última geração, tendo com representante oficial de certas marcas de renome na impressão gráfica e tipográfica.</p>
            </article>

            <article class="col s12 l6">
                
            </article>
        </div>
    </div>
</section>