<section id="equipamentos" class="section scrollspy primary-color-text">
    <section class="container">
        <h4 class="bolder white-text">
            <i class="fas fa-cogs"></i> EQUIPAMENTOS
        </h4>
        <section class="row slick">
            {% for item in site.equipamentos %}
                <div>
                    <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                </div>
            {% endfor %}
        </section>
    </section>
</section>