<section id="equipamentos" class="section scrollspy white primary-color-text">
    <div class="container">
        <h4 class="center-align bolder">Equipamentos</h4>

        <div class="row">
            <article class="col s12 l6 center-on-small-only">
                <p class="light">Temos um vasto leque de equipamentos de impressão da última geração, tendo com representante oficial de certas marcas de renome na impressão gráfica e tipográfica.</p>
            </article>

            <article class="col s12 l6">
                <div class="section-grid">
                    <article style="background: {{ site.color}};" class="card-panel hoverable white-text z-depth-5">
                        <p class="bolder">Impressoras</p>
                        <img src="/assets/img/uploads/imagePRESS_C600i_Angle1_tcm121-1224289.jpg" alt="">

                        <a href="#equipamentosImpressoras" class="modal-trigger waves-effect waves-light btn">Veja Mais</a>
                    </article>

                    <article style="background: {{ site.color}};" class="card-panel hoverable white-text z-depth-5">
                        <p class="bolder">Bordados</p>
                        <img src="" alt="">

                        <a href="#equipamentosBordados" class="modal-trigger waves-effect waves-light btn">Veja Mais</a>
                    </article>

                    <article style="background: {{ site.color}};" class="card-panel hoverable white-text z-depth-5">
                        <p class="bolder">Plotes</p>
                        <img src="" alt="">

                        <a href="#equipamentosPlotes" class="modal-trigger waves-effect waves-light btn">Veja Mais</a>
                    </article>

                    <article style="background: {{ site.color}};" class="card-panel hoverable white-text z-depth-5">
                        <p class="bolder">Picotagem</p>
                        <img src="" alt="">

                        <a href="#equipamentosPicotagem" class="modal-trigger waves-effect waves-light btn">Veja Mais</a>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>