<section class="section primary-color-text grey lighten-4">
    <div class="container">
        <h4 class="bolder center-align">O que Fazemos</h4>
        <div class="row">
            <div class="col 12 l6">
                <img src="/assets/img/uploads/sobre.png" alt="Sobre">
            </div>
            <div class="col s12 l6">
                {% for item in site.servicos limit: 3 %}
                    <p class="bolder">{{ item.title | upcase }}</p>

                    <article class="light">
                        {{ item.content }}
                    </article>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</section>