<section id="servicos" class="section scrollspy">
    <div class="container">
        <section class="section-grid">
            <article>
                <h4 class="bolder primary-color-text">Nossos Serviços</h4>

                <p class="text-justified">Oferecemos uma vasta gama de serviços de <strong class="bolder primary-color-text">{{ site.description }}</strong> <br>
                    <br> Somos confiandos por várias empresas nacionais e internacionais e temos uma vasta experiência no mercado</p>
            </article>

            <article class="section-grid">
                {% for item in site.servicos limit: 2 %}
                    <div class="card-panel z-depth-5 hoverable">
                        <h5 class="bolder">{{ item.title }}</h5>
                        <div class="divider"></div>

                        <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                        <div class="divider"></div>

                        <div class="light">
                            {{ item.content | truncatewords: 10 }}
                        </div>

                        <a href="#servicos{{ forloop.index }}" class="btn waves-effect waves-light modal-trigger">Leia Mais</a>
                    </div>
                {% endfor %}
            </article>
        </section>
    </div>
</section>