<header class="white">
    <div class="hide-on-med-and-up">
        <div class="container center">
            <br><br><br><br>
            <img src="{{ site.image }}" alt="{{ site.title }}">
            <br><br><br><br>
        </div>
    </div>
    <div class="hide-on-small-only slider">
        <ul class="slides">
            {% for item in site.slider limit: 4 %}
                <li>
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </li>
            {% endfor %}
        </ul>
    </div>
</header>