<section id="sobre" class="section scrollspy primary-color-text grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col 12 l6">
                <img src="/assets/img/uploads/sobre.png" alt="Sobre">
            </div>
            <div class="col s12 l6">
                {% for item in site.sobre offset: 1 %}
                    <p class="bolder"><i class="fas fa-{{ item.icon }}"></i> {{ item.title | upcase }}</p>

                    <div class="justify">
                        {{ item.content }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>