{% include fonts.html %}

<script defer src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Materialize -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Lazy Loading-->
<script src="/assets/js/lazyloading.js" defer></script>

{% include scripts/aos.html %}

{% if page.layout == "default" %}
	{% include scripts/slick-carousel.html %}
{% endif %}

{% if page.layout == "page" %}
	{% include scripts/lightbox.html %}
{% endif %}

<script defer src="/assets/js/main.js"></script>