---
layout: default
---

<header class="page-header section">
    <div class="container center white-text">
        <h2>{{ page.title }}</h2>
    </div>
</header>

<section class="section grey lighten-4">
    <section id="masonry-grid" class="row">
        {% for item in paginator.posts %}
            <div class="col s6 l4 hoverable">
                <a href="{{ item.image }}" data-title="{{ item.title }}" data-lightbox="{{ page.title }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </a>
            </div>
        {% endfor %}
    </section>
</section>

{% include pagination.html %}

<style>
    .page-header {
        height: 50vh;
        background-image: url(/assets/img/parallax/DSC07594.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>