---
layout: default
---

<section class="section">
    <div class="container">
        <section id="masonry-grid" class="row section">
            {% for item in paginator.posts %}
                <div class="col s6 l4 hoverable">
                    <a href="{{ item.image }}" data-title="{{ item.title }}" data-lightbox="{{ page.title }}">
                        <img
                            data-src="{{ item.image }}?nf_resize=fit&w=320"
                            alt="{{ item.title }}"
                            data-srcset="{{ item.image }}?nf_resize=fit&h=480 2x,
                            {{ item.image }}?nf_resize=fit&h=720 3x,
                            {{ item.image }}?nf_resize=fit&h=1080 4x"
                            class="lazy">
                    </a>
                </div>
            {% endfor %}
        </section>

        <div class="center">
            {% include pagination.html %}
        </div>
    </div>
</section>