<section id="equipamentos" class="section scrollspy">
    <div class="container">
        <div class="section-grid">
            <article>
                <h4 class="bolder primary-color-text">Equipamentos</h4>

                <p class="text-justified light flow-text">Temos um vasto leque de equipamentos de impressão da última geração, tendo com representante oficial de certas marcas de renome na impressão gráfica e tipográfica.</p>
            </article>

            <section class="section-grid">
                
            </section>
        </div>
    </div>
</section>