<style>
    #localizacao-bg {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/DJI_0008.jpg?nf_resize=fit&h=720);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
</style>

<section id="localizacao" class="section no-pad scrollspy grey lighten-4 section-grid-no-gap">
    <article id="localizacao-bg">
        <div class="container section">
            <h4 class="text-title">Localize-nos</h4>
            
            <ul>
                <li>
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-phone fa-stack-1x"></i>
                    </span>

                    Recepção: <a href="tel:{{ site.phone }}" class="white-text">{{ site.phone }}</a>
                </li>
                <br>
                
                <li>
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x"></i>
                    </span>

                    Recepção: <a class="white-text" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </li>
                <br>

                <li>
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-map-marker-alt fa-stack-1x"></i>
                    </span>

                    Bairro Matundo, EN7 na paragem do Centro de Formação de Saúde, Cidade de Tete, Moçambique 
                </li>
            </ul>
        </div>
    </article>

    <div class="video-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.5795379505145!2d33.605836829204215!3d-16.141488899302274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1926476750bfb4ad%3A0x7f47929681cb0c32!2sPROIMAGEM%2C%20Lda!5e1!3m2!1sen!2sus!4v1601129316496!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>