<div class="text-title slick-servicos">
    {% for item in site.servicos %}
        <div style="padding-left: 10px">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light activator">
                    <img
                        data-src="{{ item.image }}?nf_resize=fit&w=320"
                        alt="{{ item.title }}"
                        data-srcset="{{ item.image }}?nf_resize=fit&h=480 2x,
                        {{ item.image }}?nf_resize=fit&h=720 3x,
                        {{ item.image }}?nf_resize=fit&h=1080 4x"
                        class="lazy">
                </div>

                <div class="card-content left-align">
                    <strong style="cursor: pointer;" class="activator primary-color-text left-align">{{ item.title }}  <i class="fas fa-ellipsis-v right activator"></i></strong>
                </div>

                <div class="card-reveal left-align">
                    <span class="card-title activator primary-color-text left-align">{{ item.title }}  <i class="right">&times;</i></span>

                    <article class="light text-justified">
                        {{ item.content }}
                    </article>
                </div>
            </div>
        </div>    
    {% endfor %}
</div>