<div class="text-title slick-servicos">
    {% for item in site.servicos %}
        <div style="padding-left: 10px">
            <div class="card hoverable" data-aos="zoom-in" data-aos-duration="3000">
                <div class="card-image waves-effect waves-block waves-light activator">
                    <img
                        src="{{ item.image }}?nf_resize=fit&w=320"
                        alt="{{ item.title }}"
                        srcset="{{ item.image }}?nf_resize=fit&h=480 2x,
                        {{ item.image }}?nf_resize=fit&h=720 3x,
                        {{ item.image }}?nf_resize=fit&h=1080 4x">
                </div>

                <div class="card-content left-align">
                    <strong class="left-align">
                        <a href="#servicos{{ forloop.index }}" class="primary-color-text modal-trigger">{{ item.title }}</a>
                    </strong>
                </div>
            </div>
        </div>    
    {% endfor %}
</div>

{% for item in site.servicos %}
    <div id="servicos{{ forloop.index }}" class="modal">
        <div class="modal-content">
            <div class="container">
                <p class="bolder">{{ item.title }}</p>

                <article class="light text-justified">
                    {{ item.content }}
                </article>
            </div>
        </div>
    </div>
{% endfor %}